body{
  background-image: url("../img/background.jpg");
  font-family: monospace;
  background-size: 100%
}

#result {
  display:none;
  background-image: url("../img/result-image.jpg");
  background-size: 100%
}

#rules {
  color: white;
  margin: 10px;
}

label {
  font-weight: bold;
  font-size: 40px;
  color: 	orange;
}

ul {
  color: white;
  list-style-type: circle;
}

.jumbotron {
  background-color: #353839;
  color: orange;
  border-color: white;
  border-width: thick;
  border-style: groove;
  text-align: center;
  font-size: 60px;
}

#result button {
  margin-left: 30px;
}

.btn-warning {
  color: black;
  font-weight: bold;
}

blockquote{
text-align: center;
}
